<?xml version="1.0"?>

<launch>
  <node name="driving_controller" pkg="thor_mang_driving_controller" type="driving_controller" output="screen">
    <rosparam file="$(find thor_mang_driving_controller)/config/steering/atlas_real.yaml"/> <!-- steering config -->
    <rosparam file="$(find thor_mang_driving_controller)/config/throttle/atlas_leg.yaml"/> <!-- throttle config -->
    <rosparam file="$(find thor_mang_driving_controller)/config/head/head_config.yaml"/> <!-- head config -->

    <!-- controller topics -->
    <rosparam param="steering_controller_topic">/joint_controllers/left_arm_traj_controller/command</rosparam>
    <rosparam param="speed_controller_topic">/joint_controllers/left_leg_drive_controller/command</rosparam>
    <rosparam param="head_controller_topic">/joint_controllers/neck_traj_controller/command</rosparam>
    <rosparam param="joint_state_topic">/atlas/joint_states</rosparam>
  </node>
</launch>
