<?xml version="1.0"?>

<launch>
  <node name="joy_node" pkg="joy" type="joy_node"/>
  <node name="driving_controller" pkg="thor_mang_driving_controller" type="driving_controller" output="screen">
    <rosparam file="$(find thor_mang_driving_controller)/config/controller_topics.yaml"/>
    <rosparam file="$(find thor_mang_driving_controller)/config/test_key_frames.yaml"/>
  </node>
</launch>
